{% extends 'base.html' %}


{% block title %} Add New Person {% endblock %}

{% block content %}

<h1>ADD a New Person:</h1>


    <form action="create/" method="POST">
        {% csrf_token %}

        <label for="name">Name:</label><br>
        <input type="text" name="name" id="name">   <br> <br>

        <label for="age">Age:</label><br>
        <input type="number" name="age" id="age">   <br><br>

        <label for="city">City:</label><br>
        <input type="text" name="city" id="city"> <br><br>
        
        <label for="dob">DOB:</label><br>
        <input type="date" name="dob" id="dob"><br><br>

        <input type="submit" value="Register">

    </form>
    {% endblock %}